@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter Extra Bold 800.otf');
}
@font-face {
    font-family: 'Inter Bold Italic';
    src: url('./fonts/Inter Extra Bold Italic 800.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Inter Bold Italic', sans-serif;
}

.bod {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    object-fit: cover;
}

.text {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.76);
    text-align: center;
}

.des1,
.des2,
.des3,
.des4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.des1 {
    color: #00ADD8;
}

.des2 {
    color: #F0DB4F;
}

.des3 {
    color: #BB4DDC;
}

.des4 {
    color: #FFF;
}

@media (max-width: 768px) {
    .text {
        width: 90%;
        padding: 1.5rem;
    }

    .des1,
    .des2,
    .des3,
    .des4 {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
}
