@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter Extra Bold 800.otf');
}
@font-face {
    font-family: 'Inter Bold Italic';
    src: url('./fonts/Inter Extra Bold Italic 800.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Inter Bold Italic', sans-serif;
}

.container {
    background-image: url('./images/js_evolution_b3333c24cb.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

.wall {
    background-color: rgba(255, 238, 0, 0.356);
    width: 100%;
    border-radius: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.head {
    width: 100%;
    max-width: 700px;
    color: #FFF;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    margin: 5% auto 0 auto;
    padding: 0 2rem;
    text-align: center;
}

.js {
    border-radius: 150px;
    border: 10px solid #FFF;
    max-width: 250px;
    width: 35%;
    height: auto;
    display: block;
    margin: 2rem auto;
}

p {
    max-width: 600px;
    width: 90%;
    margin: -3rem auto 0 auto;
    padding: 1.5rem;
    border-radius: 50px;
    background: #FFF;
    color: black;
    font-size: 2rem;
    border: 5px solid #000;
    text-align: center;
}

a {
    display: inline-block;
    font-size: 1.5rem;
    width: 300px;
    height: 62px;
    margin: 2rem auto;
    text-align: center;
    line-height: 62px;
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    .head {
        font-size: 2rem;
        margin-top: 10%;
    }

    .js {
        width: 60%;
        max-width: 200px;
    }

    p {
        font-size: 1.2rem;
        padding: 1rem;
    }

    a {
        font-size: 1.2rem;
        width: 80%;
    }
}
