@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter\ Extra\ Bold\ 800.otf);
}
@font-face {
    font-family: 'Inter Bold Italic';
    src: url(/fonts/Inter\ Extra\ Bold\ Italic\ 800.otf);
}
* {
    font-family: 'Inter', 'Inter Bold Italic';
    src: url(./fonts/Inter\ Extra\ Bold\ 800.otf);
    src: url(./fonts/Inter\ Extra\ Bold\ Italic\ 800.otf);
}

@media screen and (min-width: 320px) and (max-width: 2560px) {
    .container {
        min-width: 319px;
        max-width: 2560px;
    }
}

.container {
    max-width: 100%;
    height: auto;
}

h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.price1 {
    position: relative;
    margin-left: -2%;
    width: 352px;
    height: 900px;
    left: 5%;
    border-radius: 20px;
    border: 5px solid #000;
    background: #F0DB4F;
    box-shadow: 13px 19px 0px 0px #000;
}

.price2 {
    position: absolute;
    margin-left: 3%;
    width: 352px;
    height: 900px;
    top: 10px;
    left: 25%;
    border-radius: 20px;
    border: 5px solid #000;
    background: #00ADD8;
    box-shadow: 13px 19px 0px 0px #000;
}

.price3 {
    position: absolute;
    margin-left: 28%;
    grid-column: span;
    width: 352px;
    height: 900px;
    top: 10px;
    left: 25%;
    border-radius: 20px;
    border: 5px solid #000;
    background: #3D688C;
    box-shadow: 13px 19px 0px 0px #000;
}

.price4 {
    position: absolute;
    margin-left: 53%;
    grid-column: span;
    width: 352px;
    height: 900px;
    top: 10px;
    left: 25%;
    border-radius: 20px;
    border: 5px solid #000;
    background: #37008E;
    box-shadow: 13px 19px 0px 0px #000;
}

.js,
.go,
.py,
.c {
    position: relative;
    border-radius: 150px;
    border: 8px solid #000;
    width: 150px;
    height: 150px;
    left: 25%;
    top: 30px;
}

.p1,
.p2,
.p3,
.p4 {
    position: relative;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 13px 13px 0px 0px #000;
    background-position: center;
    width: 272px;
    height: 25%;
    line-height: normal;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
}

.p2,
.p3,
.p4 {
    top: 14.7%;
    left: 10%;
}

.p1 {
    top: 15%;
    left: 11%;
}

.but1,
.but2,
.but3,
.but4 {
    position: relative;
    font-size: 35px;
    width: 274px;
    height: 105px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 13px 13px 0px 0px #000;
    cursor: pointer;
    left: 10%;
}

.but1:hover,
.but2:hover,
.but3:hover,
.but4:hover {
    background-color: green;
    transition-duration: 1s;
}
